.chapter {
	position: relative;
	display: grid;
	row-gap: rem(80);
	padding-bottom: rem(80);
	background-color: var(--default-bg-color);
	@media (max-width: $laptop) {
		row-gap: rem(40);
		padding-bottom: rem(40);
	}
}
